.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.errorBlock {
  width: 350px;
  height: 50px;
  margin-left: 60px;
  background-color: #ff3f3fd8;
  color: #ffffff;
  border: 1px solid #7e0717;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.input {
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-left: 50px;
}

.input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 150px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #014894;
}

.button:disabled {
  background-color: #7a7979;
  color: #c7c0c0;
  cursor: not-allowed;
}
